.main-div {
    margin-left: 20px;
}

h2 {
    color: blue;
}

form button {
    margin-left: 10px;
    background-color: rgba(0, 0, 255, 0.57);
    color: white;
    font-weight: bold;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 5px;
}

form input {
    margin-left: 10px;
    color: blue;
    font-weight: bold;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 5px;
}

ul button {
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid white;
    padding: 2px, 4px;
}